@{Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2010Black" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office2010Black" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office2010Black" });

var grid = Html.DevExpress().GridView(settings =>
{
    settings.Name = "CalendarList";
    settings.Theme = "Office2010Black";
    settings.CallbackRouteValues = new { Controller = "Calendar", Action = "CurrencyListPartial" };

    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.SettingsBehavior.ConfirmDelete = true;

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFilterRow = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;

    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                Html.Raw("<a href='" + Url.Content("~/Calendar/Edit/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-edit'></i></a>")
                    + "&nbsp;" +
                Html.ActionLink("Delete", "Delete", new { id = DataBinder.Eval(c.DataItem, "Id") },
                    new { onclick = "return confirm('Do you really want to delete this record?')" })
            );
        });
        //column.SetHeaderTemplateContent(c =>
        //{
        //    ViewContext.Writer.Write(
        //        Html.ActionLink("New", "Create", new { Id = -1 }).ToHtmlString()
        //    );
        //});
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.Width = 70;
    });

    settings.Columns.Add("Id");
    settings.Columns.Add("SOBId");
    settings.Columns.Add("PeriodName");
    settings.Columns.Add("PeriodYear");
    settings.Columns.Add("PeriodQuarter");
    settings.Columns.Add("SeqNumber");
    settings.Columns.Add("StartDate");
    settings.Columns.Add("EndDate");
    settings.Columns.Add("Adjusting");
    settings.Columns.Add("ClosingStatus");
    //settings.Columns.Add("ClosingStatusList");
    //settings.Columns.Add("SetOfBooks");
});
if (ViewData["EditError"] != null)
{
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}
@grid.Bind(Model).GetHtml()