<div class="headerTop">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><img class="img-responsive" src='@Url.Content("~/Content/images/logo.png")' alt="" /></span>
            </div>

            <div class="navbar-collapse collapse">

                @Html.Partial("_Menu")

                @Html.Partial("_LoginPartial")
            </div>
</nav>
    </div>
</div>
@*<div class="headerMenu">
    @Html.DevExpress().Menu(settings => {
        settings.Name = "HeaderMenu";
        settings.ItemAutoWidth = false;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Styles.Style.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        settings.Styles.Style.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
    }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenu.xml"), "/items/*").GetHtml()
</div>*@
