<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="Data Source=localhost;Initial Catalog=360Accounting;uid=sa;pwd=sa2008" providerName="System.Data.SqlClient" />
    <add name="test" connectionString="Data Source=localhost;Initial Catalog=360Test;uid=sa;pwd=sa2008" providerName="System.Data.SqlClient" />
    <add name="uat" connectionString="Data Source=69.162.125.10;Initial Catalog=casaahme_360Act;uid=casaahme_360act;pwd=Account@360" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>