<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="Data Source=localhost;Initial Catalog=360Accounting;uid=sa;pwd=sa2008" providerName="System.Data.SqlClient" />
    <add name="local2" connectionString="Data Source=localhost;Initial Catalog=360;uid=sa;pwd=sa2008" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>