{
    height: 100%;
}

.cusMarginTop10 {
    margin-top: 10px;
}

.cusMarginTop20 {
    margin-top: 20px;
}

.cusDisplayBlock {
    display: block;
}

body {
    margin-top: 100px;
    height: calc(100% - 50px);
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif !important;
}

.dxsplControl_Metropolis {
    font: 12px 'Roboto', sans-serif !important;
}

.navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #000;
}

.page-header {
    margin-top: 10px;
    font-weight: 300 !important;
}

.copyright {
    background-color: #666;
}

    .copyright span {
        display: block;
        text-align: center;
        padding: 10px 0 15px;
        border-top: 1px solid #ccc;
        color: #fff;
    }

.cusGridWrapper table {
    width: 100%;
}

.form-control {
    border-radius: 0;
    border-color: #666;
}

    .form-control:hover, .form-control:focus {
        outline: 0;
        box-shadow: none;
    }

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.checkbox:hover, .checkbox:focus, .radio:hover, .radio:focus {
    outline: 0;
    box-shadow: none;
}

.checkbox input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:focus, .checkbox input[type="radio"]:hover, .checkbox input[type="radio"]:focus, .checkbox input[type="checkbox"]:focus + label::before:hover, .checkbox input[type="checkbox"]:focus + label::before:focus, .checkbox input[type="radio"]:focus + label::before:hover, .checkbox input[type="radio"]:focus + label::before:focus {
    outline: 0;
    box-shadow: none;
}

@media (min-width: 768px) {

    .navbar-right {
        margin-right: 0;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
    .navbar-nav>li.dropdown > a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
}

#wrapper {
    padding-left: 0;
}
    #wrapper .navbar .navbar-collapse {
        position:relative;
    }

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    height: calc(100% - 8px);
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 225px;
    }

        #wrapper.LoginPageWrapper {
            padding-left: 0;
        }

    #page-wrapper {
        padding: 10px;
    }
}

.customNav {
    width: 100%;
    background-color: #555;
}

.navbar-inverse .customNav > li > a {
    color:#ccc;
}

.navbar-inverse .customNav > li > a:hover {
    background-color: #000;
}

.customClientLogo {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    position:absolute;
    width:100%;
}

    .customClientLogo a {
        display: block;
        color: #fff;
    }

@media screen and (max-width: 767px) {
    .customClientLogo {
        width: 100%;
        padding: 15px 0;
    }
}


/* Top Navigation */
.top-nav {
    padding: 0 15px;
}

    .top-nav > li {
        display: inline-block;
        float: left;
    }

        .top-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;
            color: #999;
        }

            .top-nav > li > a:hover,
            .top-nav > li > a:focus,
            .top-nav > .open > a,
            .top-nav > .open > a:hover,
            .top-nav > .open > a:focus {
                color: #fff;
                background-color: #000;
            }

    .top-nav > .open > .dropdown-menu {
        float: left;
        position: absolute;
        margin-top: 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

        .top-nav > .open > .dropdown-menu > li > a {
            white-space: normal;
        }

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

    li.message-preview > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */
@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

        .side-nav > li > a {
            width: 225px;
        }

        .side-nav li a:hover,
        .side-nav li a:focus {
            outline: none;
            background-color: #000 !important;
        }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li ul li a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li ul li ul li a {
    padding: 10px 15px 10px 10px;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */
.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

    .panel-green > .panel-heading {
        border-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
    }

    .panel-green > a {
        color: #5cb85c;
    }

        .panel-green > a:hover {
            color: #3d8b3d;
        }

.panel-red {
    border-color: #d9534f;
}

    .panel-red > .panel-heading {
        border-color: #d9534f;
        color: #fff;
        background-color: #d9534f;
    }

    .panel-red > a {
        color: #d9534f;
    }

        .panel-red > a:hover {
            color: #b52b27;
        }

.panel-yellow {
    border-color: #f0ad4e;
}

    .panel-yellow > .panel-heading {
        border-color: #f0ad4e;
        color: #fff;
        background-color: #f0ad4e;
    }

    .panel-yellow > a {
        color: #f0ad4e;
    }

        .panel-yellow > a:hover {
            color: #df8a13;
        }

.acc-loginMainWrap {
    position: relative;
    width: 100%;
}

    .acc-loginMainWrap .acc-loginInnerWrap {
        width: 400px;
        position: absolute;
        top: 50%;
        margin: 0 auto;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }

        .acc-loginMainWrap .acc-loginInnerWrap .form-group .form-control {
            border-radius: 0;
            border-color: #9d9d9d;
        }

            .acc-loginMainWrap .acc-loginInnerWrap .form-group .form-control:focus, .acc-loginMainWrap .acc-loginInnerWrap .form-group .form-control :hover {
                outline: 0;
                box-shadow: none;
            }

        .acc-loginMainWrap .acc-loginInnerWrap .forget-pass {
            display: block;
            width: 100%;
            text-align: right;
            float: right;
            padding-top: 10px;
        }

        .acc-loginMainWrap .acc-loginInnerWrap .login-btn {
            border-radius: 0;
            background-color: #3295E0;
            border: 0;
            color: #fff;
        }

        .acc-loginMainWrap .acc-loginInnerWrap .cusBigLogo {
            margin: 0 auto;
            padding-bottom: 25px;
        }

.height100p {
    height: 100%;
}

.navbar-header .navbar-brand {
    padding: 5px 15px;
}

.tstyCus-btn {
    border-radius: 0;
    background-color: #3295E0;
    border: 0;
    color: #fff;
}

.customDropDownWrapper .btn-group {
    width:100%;
    border-radius:0;
}
.customDropDownWrapper .btn-group > button{
    width: 100%;
    text-align: left;
    background-color: transparent;
    border-radius: 0;
}
    .customDropDownWrapper .btn-group > button span {
        width:calc(100% - 8px);
        display:inline-block;
    }
    .customDropDownWrapper .btn-group > button .caret {
    }
/*# sourceMappingURL=style.css.map */
