
@{
    ViewBag.Title = "Settings";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            @ViewBag.Title
        </h3>
    </div>
</div>
<div class="col-lg-4">
    <a href='@Url.Content("~/User/ManageUser")'> <i class="fa fa-fw fa-book"></i> Update Profile </a> 
</div>
<div class="col-lg-4">
    <a href="#"> <i class="fa fa-fw fa-android"></i> Update Security Information </a>
</div>
<div class="col-lg-4">
    <a href='@Url.Content("~/User/ChangePassword")'> <i class="fa fa-fw fa-gear"></i> Change Password </a>
</div>
