
@{
    ViewBag.Title = "DemoReport";
}

<h2>DemoReport</h2>

@model DevExpress.XtraReports.UI.XtraReport
           @Html.DevExpress().WebDocumentViewer(settings =>
      {
          settings.Name = "documentViewer";
      }).Bind(Model).GetHtml()