<div class="container">
    <div class="col-lg-12">
        <div class="form-control">
            &nbsp;
        </div>
    </div>
    <div class="clearfix col-lg-12 ">
        @Html.Action("DocumentViewerPartial")
    </div>
</div>