@model IEnumerable<DevEx_360Accounting_Web.Models.JournalVoucherDetailModel>

@{
    if (Model.Count() > 0)
    {
        Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2010Black" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office2010Black" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office2010Black" });

        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

        var grid = Html.DevExpress().GridView(settings =>
        {
            settings.Name = "JournalVoucherDetail";
            settings.Theme = "Office2010Black";
            settings.KeyFieldName = "Id";

            settings.CallbackRouteValues = new { Controller = "JournalVoucher", Action = "JournalVoucherDetailListPartial" };

            settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
            settings.SettingsBehavior.ConfirmDelete = true;

            settings.SettingsPager.Visible = true;
            settings.Settings.ShowGroupPanel = false;
            settings.Settings.ShowFilterRow = false;
            settings.SettingsBehavior.AllowSort = false;
            settings.SettingsBehavior.AllowSelectByRowClick = true;

            settings.Columns.Add(column =>
                {
                    column.SetDataItemTemplateContent(c =>
                    {
                        ViewContext.Writer.Write(
                            Html.Raw("<a href='" + Url.Content("~/JournalVoucher/EditDetail/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-edit'></i></a>")
                            + "&nbsp;&nbsp;" +
                            Html.Raw("<a class='deleteQuestion' href='" + Url.Content("~/JournalVoucher/DeleteDetail/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-trash-o'></i></a>")
                        );
                    });
                    column.Settings.AllowDragDrop = DefaultBoolean.False;
                    column.Settings.AllowSort = DefaultBoolean.False;
                    column.Width = 70;
                });

            settings.Columns.Add("CodeCombinationId", "Account Code");
            settings.Columns.Add("EnteredDr", "Debit");
            settings.Columns.Add("EnteredCr", "Credit");
            settings.Columns.Add("Qty", "Qty");
            settings.Columns.Add("Description");
            settings.Columns.Add("TaxRateCode", "Tax Rate Code");
            settings.Columns.Add("AccountedDr", "Acct-Dr");
            settings.Columns.Add("AccountedCr", "Acct-Cr");
        });
        if (ViewData["EditError"] != null)
        {
            grid.SetEditErrorText((string)ViewData["EditError"]);
        }
        grid.Bind(Model).GetHtml();

    }
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('.delete').click(function () {
                return confirm("Sure! you wanted to delete ?");
            });
        });

        function CallBack(context) {
            $("#dvJournalVoucherDetailList")[0].innerHTML = context;
        }
    </script>