@model DevEx._360Accounting.Web.Reports.AuditTrialReport

<div class="container">
    <div class="col-lg-12">
        <div class="form-control">
            &nbsp;
        </div>
        <div class="clearfix col-lg-12 ">
            @Html.Partial("_AuditTrialPartial", Model)
            
        </div>
    </div>
</div>
