@{

var grid = Html.DevExpress().GridView(settings =>
{
    settings.Name = "CalendarList";
    settings.Theme = "Office2010Black";
    settings.CallbackRouteValues = new { Controller = "Calendar", Action = "CalendarListPartial" };

    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.SettingsBehavior.ConfirmDelete = true;

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsBehavior.AllowSort = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = true;

    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                Html.Raw("<a href='" + Url.Content("~/Calendar/Edit/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-edit'></i></a>")
                    + "&nbsp;" +
                Html.Raw("<a class='deleteQuestion' href='" + Url.Content("~/Calendar/Delete/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-trash-o'></i></a>")
                + "&nbsp;" +
                Html.Raw("<a href='" + Url.Content("~/Calendar/ChangeStatus/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-power-off'></i></a>")
                
            );
        });

        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.Width = 70;
    });

    settings.Columns.Add("PeriodName");
    settings.Columns.Add("PeriodYear");
    settings.Columns.Add("PeriodQuarter");
    settings.Columns.Add("SeqNumber");
    settings.Columns.Add("StartDate").PropertiesEdit.DisplayFormatString = _360Accounting.Common.Const.DATE_FORMAT; ;
    settings.Columns.Add("EndDate").PropertiesEdit.DisplayFormatString = _360Accounting.Common.Const.DATE_FORMAT; ;
    settings.Columns.Add("Adjusting");
    settings.Columns.Add("ClosingStatus");
});
if (ViewData["EditError"] != null)
{
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}
@grid.Bind(Model).GetHtml()

<script type="text/javascript">
    $('.deleteQuestion').click(function () {
        return confirm("Sure! you wanted to delete ?");
    });
</script>