@{Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2010Black" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office2010Black" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office2010Black" });

Html.EnableClientValidation();
Html.EnableUnobtrusiveJavaScript();

var grid = Html.DevExpress().GridView(settings =>
{
    settings.Name = "Account";
    settings.Theme = "Office2010Black";
    settings.KeyFieldName = "Id";

    settings.CallbackRouteValues = new { Controller = "Account", Action = "AccountListPartial" };

    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.SettingsBehavior.ConfirmDelete = true;

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = false;
    settings.Settings.ShowFilterRow = false;
    settings.SettingsBehavior.AllowSort = false;
    settings.SettingsBehavior.AllowSelectByRowClick = true;

    settings.Columns.Add(column =>
        {
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                    Html.Raw("<a title='Edit' href='" + Url.Content("~/Account/Edit/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-edit'></i></a>")
                    + "&nbsp;&nbsp;" +
                    Html.Raw("<a title='Delete' class='deleteQuestion' href='" + Url.Content("~/Account/Delete/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-trash-o'></i></a>")
                    + "&nbsp;&nbsp;" +
                    Html.Raw("<a title='Account Values' href='" + Url.Content("~/AccountValue/Index/") + DataBinder.Eval(c.DataItem, "SOBId") + "'><i class='fa fa-book'></i></a>")
                    + "&nbsp;&nbsp;" +
                    Html.Raw("<a title='Code Combination' href='" + Url.Content("~/CodeCombinition/Index/") + DataBinder.Eval(c.DataItem, "SOBId") + "'><i class='fa fa-codepen'></i></a>")
                );
            });
            column.Settings.AllowDragDrop = DefaultBoolean.False;
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = 90;
        });

    settings.Columns.Add("SOBName", "Set Of Book");
    settings.Columns.Add("Segments");
    settings.Columns.Add("SegmentsLength", "Segments Size");
});
if (ViewData["EditError"] != null)
{
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}
@grid.Bind(Model).GetHtml()
<script type="text/javascript">
    $(document).ready(function () {
        $('.deleteQuestion').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });

    function CallBack(context) {
        $("#dvAccountList")[0].innerHTML = context;
    }
</script>