@*CREATED THIS _LIST AS EMPTY WITHOIUT MODEL VIEW*@

@{Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2010Black" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office2010Black" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office2010Black" });

var grid = Html.DevExpress().GridView(settings =>
{
    settings.Name = "Remittance";
    settings.Theme = "Office2010Black";
    settings.KeyFieldName = "Id";

    settings.CallbackRouteValues = new
    {
        Controller = "Remittance",
        Action = "ListPartial",
        abc = "sobId",
        def = "bankId",
        ghi = "bankAccount"
    };

    //settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.SettingsBehavior.ConfirmDelete = true;

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = false;
    settings.Settings.ShowFilterRow = false;
    settings.SettingsBehavior.AllowSort = false;
    settings.SettingsBehavior.AllowSelectByRowClick = true;

    settings.Columns.Add(column =>
    {
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                Html.Raw("<a href='" + Url.Content("~/Remittance/Edit?remitNo=") + DataBinder.Eval(c.DataItem, "RemitNo") + "&sobId=" + DataBinder.Eval(c.DataItem, "SOBId") + "&bankId=" + DataBinder.Eval(c.DataItem, "BankId") + "&bankAccountId=" + DataBinder.Eval(c.DataItem, "BankAccountId") + "'><i class='fa fa-edit'></i></a>")
                    + "&nbsp;" +
                Html.Raw("<a class='deleteQuestion' href='" + Url.Content("~/Remittance/Delete/") + DataBinder.Eval(c.DataItem, "RemitNo") + "'><i class='fa fa-trash-o'></i></a>")
            );
        });

        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.Width = 70;
    });
    
    settings.Columns.Add("RemitNo", "Remit #");
    settings.Columns.Add("RemitDate", "Remit Date").PropertiesEdit.DisplayFormatString = _360Accounting.Common.Const.DATE_FORMAT;
});
if (ViewData["EditError"] != null)
{
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}
@grid.Bind(Model).GetHtml()

<script type="text/javascript">
    $(document).ready(function () {
        $('.deleteQuestion').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });

    //what is this, I don't know.. Uzair Ashraf Usman Kunda
    function CallBack(context) {
        $("#dvList")[0].innerHTML = context;
    }
</script>