@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "Companies";
        settings.Theme = "Office2010Black";
        settings.KeyFieldName = "Id";

        settings.CallbackRouteValues = new { Controller = "Company", Action = "CompanyListPartial" };

        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowFilterRowMenu = true;

        settings.Columns.Add(column =>
        {
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                    Html.Raw("<a title='Edit Company' href='" + Url.Content("~/Company/Edit/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-edit'></i></a>")
            + "&nbsp;" +
                    Html.Raw("<a title ='Delete Company' class='deleteQuestion' href='" + Url.Content("~/Company/Delete/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-trash-o'></i></a>")
            + "&nbsp;" +
                    Html.Raw("<a title='Manage Features' href='" + Url.Content("~/User/FeatureSet/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-cubes'></i></a>")
            + "&nbsp;" +
                    Html.Raw("<a title='Manage Users' href='" + Url.Content("~/User/Index/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-user-md'></i></a>")
                );
            });

            column.Settings.AllowDragDrop = DefaultBoolean.False;
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = 70;
        });

        settings.Columns.Add("Id", "Company Id");
        settings.Columns.Add("Name", "Company Name");
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }

    grid.Bind(Model).GetHtml();
}
