@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.CompanyListModel
@{
    ViewBag.Title = "Companies";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <input type="button" value="Create New" class="btn btn-default tstyCus-btn" id="btnNew" />
        </div>
    </div>

    <div class="col-lg-12 cusGridWrapper">
        @{
            if (Model.Companies != null)
            {
                if (Model.Companies.Count() > 0)
                {
                    Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2010Black" },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office2010Black" },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office2010Black" });

                    var grid = Html.DevExpress().GridView(settings =>
                    {
                        settings.Name = "Companies";
                        settings.Theme = "Office2010Black";
                        settings.KeyFieldName = "Id";

                        settings.CallbackRouteValues = new { Controller = "Company", Action = "CompanyListPartial" };

                        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
                        settings.SettingsBehavior.ConfirmDelete = true;

                        settings.SettingsPager.Visible = true;
                        settings.Settings.ShowGroupPanel = false;
                        settings.Settings.ShowFilterRow = false;
                        settings.SettingsBehavior.AllowSort = false;
                        settings.SettingsBehavior.AllowSelectByRowClick = true;

                        settings.Columns.Add(column =>
                        {
                            column.Caption = "#";
                            column.SetDataItemTemplateContent(c =>
                            {
                                ViewContext.Writer.Write(
                                    Html.Raw("<a href='" + Url.Content("~/Company/Edit/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-edit'></i></a>")
                            + "&nbsp;" +
                                    Html.Raw("<a class='deleteQuestion' href='" + Url.Content("~/Company/Delete/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-trash-o'></i></a>")
                                );
                            });

                            column.Settings.AllowDragDrop = DefaultBoolean.False;
                            column.Settings.AllowSort = DefaultBoolean.False;
                            column.Width = 70;
                        });

                        settings.Columns.Add("Id", "Company Id");
                        settings.Columns.Add("Name", "Company Name");
                    });
                    if (ViewData["EditError"] != null)
                    {
                        grid.SetEditErrorText((string)ViewData["EditError"]);
                    }

                    grid.Bind(Model.Companies).GetHtml();
                }
            }
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnNew').click(function () {
            window.location.href = '@Url.Content("~/Company/Create")';
        });

        $('.delete').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });
</script>
