<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net">
  <description>360Accounting Configuration</description>

  <object name="OrderTypeRepository" type="_360Accounting.Data.Repositories.OrderTypeRepository, 360Accounting.Data"> </object>
  <object name="MiscellaneousTransactionRepository" type="_360Accounting.Data.Repositories.MiscellaneousTransactionRepository, 360Accounting.Data"> </object>
  <object name="LotNumberRepository" type="_360Accounting.Data.Repositories.LotNumberRepository, 360Accounting.Data"> </object>
  <object name="MoveOrderRepository" type="_360Accounting.Data.Repositories.MoveOrderRepository, 360Accounting.Data"> </object>
  <object name="ReceivablePeriodRepository" type="_360Accounting.Data.Repositories.ReceivablePeriodRepository, 360Accounting.Data"> </object>
  <object name="LocatorRepository" type="_360Accounting.Data.Repositories.LocatorRepository, 360Accounting.Data"> </object>
  <object name="ItemRepository" type="_360Accounting.Data.Repositories.ItemRepository, 360Accounting.Data"> </object>
  <object name="WarehouseRepository" type="_360Accounting.Data.Repositories.WarehouseRepository, 360Accounting.Data"> </object>
  <object name="InventoryPeriodRepository" type="_360Accounting.Data.Repositories.InventoryPeriodRepository, 360Accounting.Data"> </object>
  <object name="PayableInvoiceDetailRepository" type="_360Accounting.Data.Repositories.PayableInvoiceDetailRepository, 360Accounting.Data"> </object>
  <object name="PayableInvoiceRepository" type="_360Accounting.Data.Repositories.PayableInvoiceRepository, 360Accounting.Data"> </object>
  <object name="RemittanceRepository" type="_360Accounting.Data.Repositories.RemittanceRepository, 360Accounting.Data"> </object>
  <object name="FeatureRepository" type="_360Accounting.Data.Repositories.FeatureRepository, 360Accounting.Data"> </object>
  <object name="FeatureSetRepository" type="_360Accounting.Data.Repositories.FeatureSetRepository, 360Accounting.Data"> </object>
  <object name="FeatureSetListRepository" type="_360Accounting.Data.Repositories.FeatureSetListRepository, 360Accounting.Data"> </object>
  <object name="FeatureSetAccessRepository" type="_360Accounting.Data.Repositories.FeatureSetAccessRepository, 360Accounting.Data"> </object>
  <object name="CompanyRepository" type="_360Accounting.Data.Repositories.CompanyRepository, 360Accounting.Data"> </object>
  <object name="SetOfBookRepository" type="_360Accounting.Data.Repositories.SetOfBookRepository, 360Accounting.Data"> </object>
  <object name="AccountRepository" type="_360Accounting.Data.Repositories.AccountRepository, 360Accounting.Data"> </object>
  <object name="AccountValueRepository" type="_360Accounting.Data.Repositories.AccountValueRepository, 360Accounting.Data"> </object>
  <object name="CalendarRepository" type="_360Accounting.Data.Repositories.CalendarRepository, 360Accounting.Data"> </object>
  <object name="CodeCombinitionRepository" type="_360Accounting.Data.Repositories.CodeCombinitionRepository, 360Accounting.Data"> </object>
  <object name="CurrencyRepository" type="_360Accounting.Data.Repositories.CurrencyRepository, 360Accounting.Data"> </object>
  <!--<object name="JournalVoucherRepository" type="_360Accounting.Data.Repositories.JournalVoucherRepository, 360Accounting.Data"> </object>-->
  <object name="CustomerRepository" type="_360Accounting.Data.Repositories.CustomerRepository, 360Accounting.Data"> </object>
  <object name="CustomerSiteRepository" type="_360Accounting.Data.Repositories.CustomerSiteRepository, 360Accounting.Data"> </object>
  <object name="BankRepository" type="_360Accounting.Data.Repositories.BankRepository, 360Accounting.Data"> </object>
  <object name="BankAccountRepository" type="_360Accounting.Data.Repositories.BankAccountRepository, 360Accounting.Data"> </object>
  <object name="ReceiptRepository" type="_360Accounting.Data.Repositories.ReceiptRepository, 360Accounting.Data"> </object>
  <object name="GLHeaderRepository" type="_360Accounting.Data.Repositories.GLHeaderRepository, 360Accounting.Data"> </object>
  <object name="GLLineRepository" type="_360Accounting.Data.Repositories.GLLineRepository, 360Accounting.Data"> </object>
  <object name="InvoiceSourceRepository" type="_360Accounting.Data.Repositories.InvoiceSourceRepository, 360Accounting.Data"> </object>
  <object name="VendorRepository" type="_360Accounting.Data.Repositories.VendorRepository, 360Accounting.Data"> </object>
  <object name="TaxRepository" type="_360Accounting.Data.Repositories.TaxRepository, 360Accounting.Data"> </object>
  <object name="TaxDetailRepository" type="_360Accounting.Data.Repositories.TaxDetailRepository, 360Accounting.Data"> </object>
  <object name="InvoiceRepository" type="_360Accounting.Data.Repositories.InvoiceRepository, 360Accounting.Data"> </object>
  <object name="InvoiceDetailRepository" type="_360Accounting.Data.Repositories.InvoiceDetailRepository, 360Accounting.Data"> </object>
  <object name="PayablePeriodRepository" type="_360Accounting.Data.Repositories.PayablePeriodRepository, 360Accounting.Data"> </object>
  <object name="WithholdingRepository" type="_360Accounting.Data.Repositories.WithholdingRepository, 360Accounting.Data"> </object>
  <object name="InvoiceTypeRepository" type="_360Accounting.Data.Repositories.InvoiceTypeRepository, 360Accounting.Data"> </object>
  <object name="PaymentRepository" type="_360Accounting.Data.Repositories.PaymentRepository, 360Accounting.Data"> </object>
  <object name="UserSetofBookRepository" type="_360Accounting.Data.Repositories.UserSetofBookRepository, 360Accounting.Data"> </object>

  

  <object name="OrderTypeService" type="_360Accounting.Service.OrderTypeService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="OrderTypeRepository" />
  </object>
  <object name="MiscellaneousTransactionService" type="_360Accounting.Service.MiscellaneousTransactionService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="MiscellaneousTransactionRepository" />
  </object>
  <object name="LotNumberService" type="_360Accounting.Service.LotNumberService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="LotNumberRepository" />
  </object>
  <object name="MoveOrderService" type="_360Accounting.Service.MoveOrderService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="MoveOrderRepository" />
  </object>
  <object name="ReceivablePeriodService" type="_360Accounting.Service.ReceivablePeriodService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="ReceivablePeriodRepository" />
  </object>
  <object name="LocatorService" type="_360Accounting.Service.LocatorService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="LocatorRepository" />
  </object>
  <object name="ItemService" type="_360Accounting.Service.ItemService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="ItemRepository" />
  </object>
  <object name="WarehouseService" type="_360Accounting.Service.WarehouseService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="WarehouseRepository" />
  </object>
  <object name="InventoryPeriodService" type="_360Accounting.Service.InventoryPeriodService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="InventoryPeriodRepository" />
  </object>
  <object name="PayableInvoiceDetailService" type="_360Accounting.Service.PayableInvoiceDetailService, 360Accounting.Service" >
    <constructor-arg name="payableInvoiceDetailRepository" ref="PayableInvoiceDetailRepository" />
  </object>
  <object name="PayableInvoiceService" type="_360Accounting.Service.PayableInvoiceService, 360Accounting.Service" >
    <constructor-arg name="payableInvoiceRepository" ref="PayableInvoiceRepository" />
  </object>
  <object name="RemittanceService" type="_360Accounting.Service.RemittanceService, 360Accounting.Service" >
    <constructor-arg name="remittanceRepository" ref="RemittanceRepository" />
  </object>
  <object name="InvoiceService" type="_360Accounting.Service.InvoiceService, 360Accounting.Service" >
    <constructor-arg name="invoiceRepository" ref="InvoiceRepository" />
  </object>
  <object name="InvoiceDetailService" type="_360Accounting.Service.InvoiceDetailService, 360Accounting.Service" >
    <constructor-arg name="invoiceDetailRepository" ref="InvoiceDetailRepository" />
  </object>
  <object name="InvoiceSourceService" type="_360Accounting.Service.InvoiceSourceService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="InvoiceSourceRepository" />
  </object>
  <object name="TaxService" type="_360Accounting.Service.TaxService, 360Accounting.Service" >
    <constructor-arg name="taxRepository" ref="TaxRepository" />
  </object>
  <object name="TaxDetailService" type="_360Accounting.Service.TaxDetailService, 360Accounting.Service" >
    <constructor-arg name="taxDetailRepository" ref="TaxDetailRepository" />
  </object>
  <object name="CustomerSiteService" type="_360Accounting.Service.CustomerSiteService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CustomerSiteRepository" />
  </object>
  <object name="CustomerService" type="_360Accounting.Service.CustomerService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CustomerRepository" />
  </object>
  <object name="VendorService" type="_360Accounting.Service.VendorService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="VendorRepository" />
  </object>
  <object name="BankService" type="_360Accounting.Service.BankService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="BankRepository" />
  </object>
  <object name="BankAccountService" type="_360Accounting.Service.BankAccountService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="BankAccountRepository" />
  </object>
  <object name="ReceiptService" type="_360Accounting.Service.ReceiptService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="ReceiptRepository" />
  </object>
  <object name="FeatureService" type="_360Accounting.Service.FeatureService, 360Accounting.Service" >
    <constructor-arg name="featureRepository" ref="FeatureRepository" />
    <constructor-arg name="fsRepo" ref="FeatureSetRepository" />
    <constructor-arg name="fslRepo" ref="FeatureSetListRepository" />
    <constructor-arg name="fsaRepo" ref="FeatureSetAccessRepository" />
  </object>
  <object name="FeatureSetService" type="_360Accounting.Service.FeatureSetService, 360Accounting.Service" >
    <constructor-arg name="featureSetRepository" ref="FeatureSetRepository" />
  </object>
  <object name="FeatureSetAccessService" type="_360Accounting.Service.FeatureSetAccessService, 360Accounting.Service" >
    <constructor-arg name="featureSetAccessRepository" ref="FeatureSetAccessRepository" />
  </object>
  <object name="FeatureSetListService" type="_360Accounting.Service.FeatureSetListService, 360Accounting.Service" >
    <constructor-arg name="featureSetListRepository" ref="FeatureSetListRepository" />
  </object>

  <object name="CompanyService" type="_360Accounting.Service.CompanyService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CompanyRepository" />
  </object>
  <object name="SetOfBookService" type="_360Accounting.Service.SetOfBookService, 360Accounting.Service" >
    <constructor-arg name="setOfBookRepository" ref="SetOfBookRepository" />
  </object>
  <object name="AccountService" type="_360Accounting.Service.AccountService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="AccountRepository" />
  </object>
  <object name="AccountValueService" type="_360Accounting.Service.AccountValueService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="AccountValueRepository" />
  </object>
  <object name="CalendarService" type="_360Accounting.Service.CalendarService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CalendarRepository" />
  </object>
  <object name="CodeCombinitionService" type="_360Accounting.Service.CodeCombinitionService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CodeCombinitionRepository" />
  </object>
  <object name="CurrencyService" type="_360Accounting.Service.CurrencyService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CurrencyRepository" />
  </object>
  <!--<object name="JournalVoucherService" type="_360Accounting.Service.JournalVoucherService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="JournalVoucherRepository" />
  </object>-->

  <object name="GLHeaderService" type="_360Accounting.Service.GLHeaderService, 360Accounting.Service">
    <constructor-arg name="repo" ref="GLHeaderRepository" />
  </object>
  <object name="GLLineService" type="_360Accounting.Service.GLLineService, 360Accounting.Service">
    <constructor-arg name="repo" ref="GLLineRepository" />
  </object>
  <object name="PayablePeriodService" type="_360Accounting.Service.PayablePeriodService, 360Accounting.Service">
    <constructor-arg name="repo" ref="PayablePeriodRepository" />
  </object>
  <object name="WithholdingService" type="_360Accounting.Service.WithholdingService, 360Accounting.Service">
    <constructor-arg name="repo" ref="WithholdingRepository" />
  </object>
  <object name="InvoiceTypeService" type="_360Accounting.Service.InvoiceTypeService, 360Accounting.Service">
    <constructor-arg name="repo" ref="InvoiceTypeRepository" />
  </object>
  <object name="PaymentService" type="_360Accounting.Service.PaymentService, 360Accounting.Service">
    <constructor-arg name="repo" ref="PaymentRepository" />
  </object>
  <object name="UserSetofBookService" type="_360Accounting.Service.UserSetofBookService, 360Accounting.Service">
    <constructor-arg name="repo" ref="UserSetofBookRepository" />
  </object>

</objects>


