<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net">
  <description>360Accounting Configuration</description>
  
  <object name="FeatureRepository" type="_360Accounting.Data.Repositories.FeatureRepository, 360Accounting.Data"> </object>
  <object name="FeatureSetRepository" type="_360Accounting.Data.Repositories.FeatureSetRepository, 360Accounting.Data"> </object>
  <object name="FeatureSetListRepository" type="_360Accounting.Data.Repositories.FeatureSetListRepository, 360Accounting.Data"> </object>
  <object name="FeatureSetAccessRepository" type="_360Accounting.Data.Repositories.FeatureSetAccessRepository, 360Accounting.Data"> </object>

  <object name="CompanyRepository" type="_360Accounting.Data.Repositories.CompanyRepository, 360Accounting.Data"> </object>
  <object name="SetOfBookRepository" type="_360Accounting.Data.Repositories.SetOfBookRepository, 360Accounting.Data"> </object>
  <object name="AccountRepository" type="_360Accounting.Data.Repositories.AccountRepository, 360Accounting.Data"> </object>
  <object name="AccountValueRepository" type="_360Accounting.Data.Repositories.AccountValueRepository, 360Accounting.Data"> </object>
  <object name="CalendarRepository" type="_360Accounting.Data.Repositories.CalendarRepository, 360Accounting.Data"> </object>
  <object name="CodeCombinitionRepository" type="_360Accounting.Data.Repositories.CodeCombinitionRepository, 360Accounting.Data"> </object>
  <object name="CurrencyRepository" type="_360Accounting.Data.Repositories.CurrencyRepository, 360Accounting.Data"> </object>
  <object name="JournalVoucherRepository" type="_360Accounting.Data.Repositories.JournalVoucherRepository, 360Accounting.Data"> </object>

  <object name="FeatureService" type="_360Accounting.Service.FeatureService, 360Accounting.Service" >
    <constructor-arg name="featureRepository" ref="FeatureRepository" />
    <constructor-arg name="fsRepo" ref="FeatureSetRepository" />  
    <constructor-arg name="fslRepo" ref="FeatureSetListRepository" />  
    <constructor-arg name="fsaRepo" ref="FeatureSetAccessRepository" />
  </object>
  <object name="FeatureSetService" type="_360Accounting.Service.FeatureSetService, 360Accounting.Service" >
    <constructor-arg name="featureSetRepository" ref="FeatureSetRepository" />
  </object>
  <object name="FeatureSetListService" type="_360Accounting.Service.FeatureSetListService, 360Accounting.Service" >
    <constructor-arg name="featureSetListRepository" ref="FeatureSetListRepository" />
  </object>
  
  <object name="CompanyService" type="_360Accounting.Service.CompanyService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CompanyRepository" />
  </object>
  <object name="SetOfBookService" type="_360Accounting.Service.SetOfBookService, 360Accounting.Service" >
    <constructor-arg name="setOfBookRepository" ref="SetOfBookRepository" />
  </object>
  <object name="AccountService" type="_360Accounting.Service.AccountService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="AccountRepository" />
  </object>
  <object name="AccountValueService" type="_360Accounting.Service.AccountValueService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="AccountValueRepository" />
  </object>
  <object name="CalendarService" type="_360Accounting.Service.CalendarService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CalendarRepository" />
  </object>
  <object name="CodeCombinitionService" type="_360Accounting.Service.CodeCombinitionService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CodeCombinitionRepository" />
  </object>
  <object name="CurrencyService" type="_360Accounting.Service.CurrencyService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="CurrencyRepository" />
  </object>
  <object name="JournalVoucherService" type="_360Accounting.Service.JournalVoucherService, 360Accounting.Service" >
    <constructor-arg name="repo" ref="JournalVoucherRepository" />
  </object>
</objects>


