<div class="col-lg-12" style="margin-top:10px;">
    @Html.Raw(TempData["ErrorSource"])
</div>

<div class="col-lg-2" style="margin-top:20px;">
    <div class="form-group">
        <input type="button" value="OK" class="tstyCus-btn btn btn-default" onclick="GoBack();" />
    </div>
</div>

<script type="text/javascript">
    function GoBack()
    {
        window.location.href = '@Url.Content(TempData["LastURL"].ToString())'
    }
</script>