@if (Request.IsAuthenticated)
{
    if (AuthenticationHelper.User == null)
    {
        AuthenticationHelper.User = _360Accounting.Web.Models.UserProfile.GetProfile(User.Identity.Name);
    }
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + AuthenticationHelper.User.LastName + ", " + AuthenticationHelper.User.FirstName, "ManageUser", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
