<div id="ExceptionBox">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Content("~/UserSetofBook/ViewErrorPopup")',
            data: {},
            datatype: 'html',
            type: 'get',
            error: function (error) {
                alert('Error');
            },
            success: function (rtnData) {
                $('#ExceptionBox').html(rtnData);
                $('#ExceptionBox').dialog("open");
                return false;
            }
        });
    })
</script>