@{
var grid = Html.DevExpress().GridView(settings =>
{
    settings.Name = "JV";
    settings.Theme = "Office2010Black";
    settings.KeyFieldName = "Id";

    settings.CallbackRouteValues = new { Controller = "JV", Action = "ListPartial" };

    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.SettingsBehavior.ConfirmDelete = true;

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsBehavior.AllowSort = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = true;

    settings.Columns.Add(column =>
    {
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                Html.Raw("<a href='" + Url.Content("~/JV/Edit?Id=") + DataBinder.Eval(c.DataItem, "Id") + "&currencyId=" + DataBinder.Eval(c.DataItem, "CurrencyId") + "&periodId=" + DataBinder.Eval(c.DataItem, "PeriodId") + "'><i class='fa fa-edit'></i></a>")
                    + "&nbsp;" +
                Html.Raw("<a class='deleteQuestion' href='" + Url.Content("~/JV/Delete/") + DataBinder.Eval(c.DataItem, "Id") + "'><i class='fa fa-trash-o'></i></a>")
            );
        });

        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.Width = 70;
    });
    settings.Columns.Add("JournalName", "Journal Name");
    settings.Columns.Add("DocumentNo", "Document #");
    settings.Columns.Add("GLDate", "Effective Date").PropertiesEdit.DisplayFormatString = _360Accounting.Common.Const.DATE_FORMAT;
    settings.Columns.Add("Description");
    settings.Columns.Add("PeriodName", "Period");
    settings.Columns.Add("CurrencyName", "Currency");
});
if (ViewData["EditError"] != null)
{
    grid.SetEditErrorText((string)ViewData["EditError"]);
}
}
@grid.Bind(Model).GetHtml()

<script type="text/javascript">
    $(document).ready(function () {
        $('.deleteQuestion').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });

    //what is this, I don't know.. Uzair Ashraf Usman Kunda
    function CallBack(context) {
        $("#dvJournalVoucherList")[0].innerHTML = context;
    }
</script>